#header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  right: 0;
  background: white;
  z-index: 999;
  -webkit-box-shadow: 1px 3px 30px 5px rgba(100, 100, 100, 0.2);
  box-shadow: 1px 3px 30px 5px rgba(100, 100, 100, 0.2);
  &.sticky {
    position: fixed;
  }
}
#header__brand-logo a {
  display: block;
  text-align: left;
  h1 {
    display: inline-block;
    vertical-align: middle;
    width: 115px;
    height: 35px;
    margin-right: 10px;
    font-size: 0;
    text-indent: -9999px;
    overflow: hidden;
    background: transparent url(../img/logo.jpg) center center no-repeat;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 50px;
    border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    background: transparent url(../img/ico-home.jpg) center center no-repeat;
  }
}
 #header__user-ope {
  text-align: right;
  vertical-align: middle;
  padding-top: 25px;
  a {
    display: inline-block;
    margin-left: 40px;
    &.contact {
      color: #333;
      font-size: 13px;
    }
  }
}
#header h1 {
  margin: 0;
}
header {
  background-color: #fff;
  nav {
    .home a {
      border-right: 1px solid #d3d3d3;
      border-left: 1px solid #d3d3d3;
      height: 35px;
      display: inline-block;
      margin-top: 7px;
      overflow: hidden;
      img {
        height: 64px;
        position: relative;
        top: -13px;
      }
    }
    
    ul {
      display: table;
      padding-top: 15px;
    }
    li,
    span {
      display : table-cell;
      vertical-align: middle;
      padding: 0 20px 0 0; 
      
      a {
        text-decoration: none;
        color: #3c3c3c;
        font-size: 1.6rem;
       
      }
    }
    #header__brand-logo {
      width: 120px;
      a {
        
        img {
        max-width: 120px;
        }
      }
    }
  }
}
.burger {
 display: none;
}
