@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}

//////ALL /
@media  screen and (max-width:480px) {
  #header {
    .w_grid {
      display: table;
    }
    .breadcrumb-menu {
      display: none;
    }
  }
  section {
    min-height: 670px;
  }
  .home-main article {
    padding-top: 88px;
  }
  div.cover-semi-transparent {
    display: block;
    right: 0;
  }
  #footer {
    min-height: 318px;
    overflow: hidden;
    position: relative;
    #footer__infos {
      text-align: center;
      #footer__infos__logo,
      .footer-social {
        position: relative;
        left: calc(50% - 100px);
      }
    }
     #footer__infos .footer-brand-infos {
      width:100%;
      background: transparent;
      height: 170px;
      position: absolute;
      bottom: 0px;
      text-align: center;
      ul {
        &#footer__infos__links-left,
        &#footer__infos__links-right {
          float: none;
          display: inline-block;
          text-align: center;
        }
        
      }
    }
  }
  .social-only-mobile article {
    display: block;
    .col-2 {
      width: 100%;
      display: -ms-inline-flexbox;
      display: block;
    }
  }
}

@media screen and (max-width: 769px) {
 
  
  .w_grid.limited-content {
    padding: 7px;
  }
  ////burger
  .burger {
    display: block;
    background-image: url('../img/static/burger-menu.svg');
    background-repeat: no-repeat;
    fill: $grey;
    height: 55px;
    position: absolute;
    top: 4px;
    width: 75px;
    background-size: 100%;
    background-position: 50%;
    right: 4px;
   }
   
  #header {
     nav  ul{
      &.mobile-menu{
        display:none;
        &.open {
          display: block;
          width: 100%;
          position: absolute;
          top: 51px;
          right: 0;
          z-index: 8;
          background-color: $white;
          li {
            display: block;
            padding: 20px;
            border-bottom: 1px solid $grey;
            text-align: center;
          }
        }
      }  
    } 
  }
  //home enlever transparence
  .cover-semi-transparent {
    display: none;
  }
  .travaux .travaux-desc-blocks .travaux-desc-block--item {
    p,
    h3 {
      max-height: 180px;
      text-overflow: ellipsis;
      overflow: hidden;
      
    }
 
  }
  section#province {
      background-size: cover;
      background-position: center;
  }
  .content-page-entete {
    margin: 0px;
    max-width: 100%;
  }
  article.clear-paddings {
    padding: 0px;
  }
  ///////COLS:
  .flex-direction-block,
  .col-3--flex {
    display: block;
    .col-3 {
      width: auto;
      margin: 0 auto;
      max-width: 420px;
    }
  }


  .col-2 {
      width: auto;
  }
  


  #footer__links {
      display: none;
  }
   #footer__infos__links-left li a, body #footer__infos__links-right li a {
      font-size: 2.3vw;
  }
   #footer__infos__links-right {
      display: none;
  }
}


@media screen and (max-width: 1025px) {
  #sousmenu {
    display: none;
  }
  ////social display
  .social-only-mobile {
    display: block;
  }
  #footer__infos__links-left li a, 
  #footer__infos__links-right li a {
    font-size: 1.2vw;
  }
  #footer__links li {
    font-size: 1.3vw;
  }
}





@media screen and (max-width: 1080px) {
  /* line 103, ../sass/components/_wami-grid.scss */
  .grid-col.tablet_size-12 {
    width: 100%;
    clear: both;
    float: none;
  }
  /* line 104, ../sass/components/_wami-grid.scss */
  .grid-col.tablet_size-11 {
    width: 91.66667%;
    clear: both;
    float: none;
  }
  /* line 105, ../sass/components/_wami-grid.scss */
  .grid-col.tablet_size-10 {
    width: 83.33333%;
    clear: both;
    float: none;
  }
  /* line 106, ../sass/components/_wami-grid.scss */
  .grid-col.tablet_size-9 {
    width: 75%;
  }
  /* line 107, ../sass/components/_wami-grid.scss */
  .grid-col.tablet_size-8 {
    width: 66.66667%;
  }
  /* line 108, ../sass/components/_wami-grid.scss */
  .grid-col.tablet_size-7 {
    width: 58.33333%;
  }
  /* line 109, ../sass/components/_wami-grid.scss */
  .grid-col.tablet_size-6 {
    width: 50%;
  }
  /* line 110, ../sass/components/_wami-grid.scss */
  .grid-col.tablet_size-5 {
    width: 41.66667%;
  }
  /* line 111, ../sass/components/_wami-grid.scss */
  .grid-col.tablet_size-4 {
    width: 33.33333%;
  }
  /* line 112, ../sass/components/_wami-grid.scss */
  .grid-col.tablet_size-3 {
    width: 25%;
  }
  /* line 113, ../sass/components/_wami-grid.scss */
  .grid-col.tablet_size-2 {
    width: 16.66667%;
  }
  /* line 114, ../sass/components/_wami-grid.scss */
  .grid-col.tablet_size-1 {
    width: 8.33333%;
  }
}
@media screen and (max-width: 700px) {
  /* line 119, ../sass/components/_wami-grid.scss */
  .grid-col.mobile_size-12 {
    width: 100%;
    clear: both;
    float: none;
  }
  .mobile_size-12.mobile_hidden{
	 display:none; 
  }
  /* line 120, ../sass/components/_wami-grid.scss */
  .grid-col.mobile_size-11 {
    width: 91.66667%;
    clear: both;
    float: none;
  }
  /* line 121, ../sass/components/_wami-grid.scss */
  .grid-col.mobile_size-10 {
    width: 83.33333%;
    clear: both;
    float: none;
  }
  /* line 122, ../sass/components/_wami-grid.scss */
  .grid-col.mobile_size-9 {
    width: 75%;
  }
  /* line 123, ../sass/components/_wami-grid.scss */
  .grid-col.mobile_size-8 {
    width: 66.66667%;
  }
  /* line 124, ../sass/components/_wami-grid.scss */
  .grid-col.mobile_size-7 {
    width: 58.33333%;
  }
  /* line 125, ../sass/components/_wami-grid.scss */
  .grid-col.mobile_size-6 {
    width: 50%;
  }
  /* line 126, ../sass/components/_wami-grid.scss */
  .grid-col.mobile_size-5 {
    width: 41.66667%;
  }
  /* line 127, ../sass/components/_wami-grid.scss */
  .grid-col.mobile_size-4 {
    width: 33.33333%;
  }
  /* line 128, ../sass/components/_wami-grid.scss */
  .grid-col.mobile_size-3 {
    width: 25%;
  }
  /* line 129, ../sass/components/_wami-grid.scss */
  .grid-col.mobile_size-2 {
    width: 16.66667%;
  }
  /* line 130, ../sass/components/_wami-grid.scss */
  .grid-col.mobile_size-1 {
    width: 8.33333%;
  }
}

@media screen and (max-width: 1080px) {
  /* line 138, ../sass/components/_wami-grid.scss */
  .w_grid {
    padding-left: 15px;
  }
  /* line 140, ../sass/components/_wami-grid.scss */
  .w_grid .grid-col.bottom-gutter {
    margin-bottom: 15px;
  }

  /* line 144, ../sass/components/_wami-grid.scss */
  .grid-col {
    padding-right: 15px;
  }
}
@media screen and (max-width: 700px) {
  /* line 149, ../sass/components/_wami-grid.scss */
  .w_grid {
    padding-left: 10px;
  }
  /* line 151, ../sass/components/_wami-grid.scss */
  .w_grid .grid-col.bottom-gutter {
    margin-bottom: 10px;
  }

  /* line 155, ../sass/components/_wami-grid.scss */
  .grid-col {
    padding-right: 10px;
  }
}


* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  border: 0;
  list-style: none;
}


@media screen and (max-width: 700px) {
  /* line 32, ../sass/main.scss */
  body #header {
    position: relative;
    height: auto;
  }
}
body #header .w_grid {
  overflow: hidden;
}





//////////////////////////////////BREAKPOINTS

