$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);
$blue: #005EB8;
$white: #FFFFFF;
$darkgrey : #3c3c3c ;
$grey : #a39382 ;
$cleargrey: #f6f4f2 ;
$green : #90c84c ;
$coldgrey : #a19d9a;